<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>edit comment</title>
</head>

<body>
   <h1>Edit Comments</h1>

   <form action="/comments/<%= comment.id %>?_method=PATCH" method="POST">
      <h3>
         <%= comment.id %>
            <%= comment.usrname %>
      </h3>

      <label for="comment">Enter Comment</label><br>
      <textarea name="comment" id="comment" cols="30" rows="5"><%= comment.comment%></textarea><br><br>

      <button type="submit">Submit</button>
   </form>
   <a href="/comments">Back to Index</a>
</body>

</html>